<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss:SSS} %level [%thread] %class{1}@%M@%L: %msg%n</Property>
        <Property name="logRootDir">${sys:root.dir}</Property>
    </Properties>
    <Appenders>
        <RollingFile name="BaseFile" fileName="${logRootDir}/log/base.log"
                     filePattern="${logRootDir}/log/base-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>${logPattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="BusinessFile" fileName="${logRootDir}/log/business.log"
                     filePattern="${logRootDir}/log/business-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>${logPattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="BaseFile"/>
        </Root>
        <Logger name="com.tbz.payment.business" level="warn" additivity="false">
            <AppenderRef ref="BusinessFile"/>
        </Logger>
    </Loggers>
</Configuration>